html, body {
    height: 95vh;
    width: 100vw;
}

span, div, h1 {
    display: flex;
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 2;
    min-height: 22%;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#question {
    display: flex;
    justify-content: space-around;
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}



#choices {
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    flex-wrap: wrap;
}


span {
    display: flex;
    font-size: 3rem;
   background-color: #37AEE2;
    border-radius: 1rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

span sub {
    font-size: 2rem;
    position: relative;
    top: 2rem;
    right: 1rem;
}

span sup {
    font-size: 2rem;
    position: relative;
    top: -0.8rem;
    left: 1rem;
}

.red {
  filter: invert(30%);
}

#choices span {
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
}

#question span {
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}