html, body {
    height: 95vh;
    width: 100vw;
}

span, div, h1 {
    display: flex;
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 2;
    min-height: 22%;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

#question {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(216, 215, 215), rgb(233, 221, 221));
}

#answers {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}

#choices {
    background-image: linear-gradient(rgb(216, 215, 215), rgb(233, 221, 221));
    flex-wrap: wrap;
}


span {
    display: flex;
    font-size: 3rem;
   background-color: #37AEE2;
    border-radius: 1rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

span sub {
    font-size: 2rem;
    position: relative;
    top: 2rem;
    right: 1rem;
}

span sup {
    font-size: 2rem;
    position: relative;
    top: -0.8rem;
    left: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;    
}

button {
    display: flex;
    height: 1.5rem;
    width: 10rem;
    justify-content: center;
    margin: 0 auto;
}


#submitButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#submitButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#submitButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#submitButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



/* CSS */
#restart {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 10rem;
  height: 4rem;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#restart:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  #restart {
    padding: 1rem 2rem;
  }
}